{include="header"}
<div style="margin: 0px auto; width: 980px;">
   <!--      Main content area-->
</div>
<div class="container" style="border: 1px solid lightgray;">
   <div class="msg-wgt-header">
      <a href="#">{$fsc->user->nick}</a>
   </div>
   <div class="msg-wgt-body">
      <table>
         {if condition="$fsc->messages"}
            {loop="$fsc->messages"}
               <tr class="msg-row-container">
                  <td>
                     <div class="msg-row">
                        <div class="avatar"></div>
                        <div class="message">
                           <span class="user-label">
                              <a href="#" style="color: #6D84B4;">{$value->user_id}</a>
                              <span class="msg-time">{$value->message}</span>
                           </span
                           ><br/>
                           {$value->sent}
                        </div>
                     </div>
                  </td>
               </tr>
            {/loop}
         {/if}
         {if condition="!$fsc->messages"}
            <span style="margin-left: 25px;">No hay mensajes disponibles!</span>
         {/if}
      </table>
   </div>
   <div class="msg-wgt-footer">
      <textarea id="chatMsg" placeholder="Escribe tu mensaje y pulsa Enter para enviar. Pulsa Shift + Enter para una línea nueva."></textarea>
   </div>
</div>
{include="footer"}